.templateNav {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
}

.templateNav a {
    width: 100px;
}

/* Global style for anchor tags */
.templateNav a {
    color: #00bfff; /* Bright color (light blue) for visibility on dark background */
    text-decoration: none; /* Optional: remove underline for a cleaner look */
}
  
.templateNav a:hover {
    color: #ff6347; /* Change the color when hovered (e.g., tomato red) */
}

.templateNav a:focus {
    outline: none; /* Optional: remove the default focus outline for cleaner design */
    color: #ff6347; /* Change the color when the link is focused */
}
  